.main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
  }
  .blogItem {
    cursor:pointer;
    text-align:center;
    font-size: 24px;
    margin: 0;
    padding: 1.5rem;

  }
  .blogItemp {
    max-width:45vw;
    text-align: justify;
    font-size: 18px;

  }
  
  